#movieDetail {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  display: flex;
  border: 1px solid;
}
.image {
  width: 50%;
  padding: 0% 4% 4% 0%;
  height: auto;
  object-fit: cover;
  border: 1px solid green;
}
.movieInfor {
  width: 100%;
  padding-bottom: 4%;

  margin: 0% 4% 0% 4%;
  text-align: start;
  border-bottom: 1px solid rgb(207, 207, 207);
}
.inforTech {
  padding: 0.5% 0;
}
.rateButton {
  background-color: rgb(73, 109, 171);
  color: white;
  border-radius: 3px;
  margin-top: 3%;
  padding: 1% 2%;
  border: white;
}
