.dashboard {
	width: 100%;
	display: flex;
	justify-content: center;
}
.dashboard_wrap {
	width: 60%;
	margin-top: 2rem;
	height: calc(100vh - 12rem);
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	display: flex;
	overflow: hidden;
}
.dashboard_nav {
	width: 30%;
	height: 100%;
	border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.dashboard_title {
	width: 100%;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.8);
}
.dashboard_items {
	flex: 1;
}
.items_link {
	text-decoration: none;
}
.dashboard_nav_items {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
	height: 5.5rem;
	font-size: 1.5rem;
	color: rgba(0, 0, 0, 0.8);
}
.dashboard_nav_items.active {
	background-color: #61dafb;
	color: white;
}
.dashboard_nav_items:hover {
	background-color: #61dafb;
	color: white;
	animation: oppa ease 0.5s;
}
@keyframes oppa {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.table {
	width: 90%;
	margin-left: 5%;
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	border-collapse: collapse;
}
.t_row {
	border: 0.1rem solid rgba(0, 0, 0, 0.2);
	height: 4rem;
}
.t_stt,
.t_id,
.t_email,
.t_username,
.t_block,
.t_role {
	border-right: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.t_stt {
	width: 7%;
}
.t_id {
	width: 8%;
}
.t_bars {
	width: 5%;
}
.t_email {
	width: 30%;
	padding: 0 1rem;
}
.t_block {
	width: 12%;
}
.t_role {
	width: 10%;
}
.t_username {
	width: calc(100% - 20% - 12% - 30% - 10%);
}
.t_row_2 {
	height: 5rem;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.font_400 {
	font-weight: 500;
	font-size: 1.1rem;
}
.table_contain {
	width: 100%;
	height: calc(100vh - 22rem);
	overflow-x: hidden;
	overflow-y: scroll;
	margin-top: 2rem;
}
.table_contain::-webkit-scrollbar {
	display: none;
}
.genre {
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-wrap: wrap;
}
.genre_items {
	min-width: 13rem;
	padding: 0 2rem;
	height: 4rem;
	background-color: #61dafb;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10rem;
	color: white;
	font-size: 1.7rem;
	padding-bottom: 0.3rem;
	cursor: pointer;
	margin: 0.5rem 0.5rem;
	position: relative;
}
.genre_item_button {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: none;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10rem;
	animation: appreaing ease 0.5s;
}
.genre_items:hover .genre_item_button {
	display: flex;
}
.genre_item_button > button {
	height: 3rem;
	border-radius: 2rem;
	background-color: #61dafb;
	border: none;
	color: white;
	cursor: pointer;
	padding: 0 1rem;
}
@keyframes appreaing {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.genre_item_button > button:hover {
	transform: scale(0.9);
}
.genre_item_button > button:first-child {
	background-color: red;
}

.genre_input {
	width: 100%;
	margin-bottom: 2rem;
}
.genre_input > input {
	width: 60%;
	height: 4rem;
	border-radius: 5rem;
	padding: 0 1rem;
	font-size: 1.4rem;
	margin-right: 1rem;
}
.genre_input > button {
	height: 4rem;
	width: 7rem;
	border-radius: 5rem;
	cursor: pointer;
	background-color: #61dafb;
	border: none;
	color: white;
	cursor: pointer;
}
.genre_input > button:hover {
	transform: scale(0.9);
}
